.about {
  padding-bottom: 5rem;
}

.about-ban {
  position: relative;
  overflow: hidden;
}

.about-ban .page-wrap {
  height: 100%;
}

.about-ban h1 {
  position: relative;
  font-weight: 400;
  font-size: clamp(1.75rem, 4vw, 4.375rem);
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  padding-left: 1.75rem;
}

.about-ban h1::before {
  content: url(../img/arr-ttl_mini.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  line-height: 0;
}

.about-ban .group-video {
  position: absolute;
  bottom: 1.25rem;
  right: 0.9375rem;
}

.about-ban .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-ban .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-ban .pattern {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 200px;
}

.about-ban .subttl {
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 1.5rem;
}

.about-ban_block .box {
  padding-bottom: 10.3125rem;
}

.about-ban_bottom {
  padding-top: 1.875rem;
}

.about-ban_bottom .bx:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about-ban_bottom .city, .about-ban_bottom .numb {
  color: #B00000;
  font-weight: 500;
  margin-bottom: 5px;
}

.about-ban_bottom .city {
  font-size: 1.5625rem;
}

.about-ban_bottom .numb {
  font-size: 1.5625rem;
}

.about-ban_bottom .numb sub {
  font-size: 1.5625rem;
  vertical-align: bottom;
  font-weight: 500;
}

.about-ban_bottom .desc {
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
}

.about-pos {
  padding-top: 3.75rem;
}

.about-pos .d-flex {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.about-pos .bx {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
}

.about-pos .bx:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.about-pos .bx:last-child {
  display: none;
}

.about-pos .txt {
  color: #000;
  font-weight: 400;
  font-size: 0.9375rem;
  margin-bottom: 2.5rem;
}

.about-pos .txt p {
  margin: 0 0 1.25rem;
}

.about-pos .txt p:last-child {
  margin-bottom: 0;
}

.about-pos .txt a {
  color: #B00000;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 400;
  font-size: 0.9375rem;
}

.about-pos blockquote {
  position: relative;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  background: rgba(1, 62, 40, 0.1);
  color: #013E28;
  font-weight: 500;
  font-size: 0.9375rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.875rem;
}

.about-pos .block {
  padding-top: 1.875rem;
}

.about-pos .block-slider {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.about-pos .block-slider .slick-list {
  padding: 1.875rem 0;
}

.about-pos .block-slider .item {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: perspective(40vw);
  -webkit-transform: perspective(40vw);
  -moz-transform: perspective(40vw);
  -ms-transform: perspective(40vw);
  -o-transform: perspective(40vw);
}

.about-pos .block-slider .item .img {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  transform: rotateX(0deg) rotateY(9deg) translateX(30px);
  -webkit-transform: rotateX(0deg) rotateY(9deg) translateX(30px);
  -moz-transform: rotateX(0deg) rotateY(9deg) translateX(30px);
  -ms-transform: rotateX(0deg) rotateY(9deg) translateX(30px);
  -o-transform: rotateX(0deg) rotateY(9deg) translateX(30px);
}

.about-pos .block-slider .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-pos .block-slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 1;
}

.about-pos .block-slider .arrow svg {
  fill: #B00000;
}

.about-pos .block-slider .arrow-next {
  right: 1.875rem;
}

.about-pos .block-slider .arrow-prev {
  left: 1.875rem;
}

.about-pos .block-slider .arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}

.about-pos .block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  row-gap: 1.25rem;
}

.about-pos .block-group_bx {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.about-pos .block-group_bx .gr {
  color: #013220;
  font-weight: 500;
  font-size: 1.875rem;
}

.about-pos .block-group_bx .gr.curr {
  color: #B00000;
}

.about-pos .block-group_bx .gr sub {
  font-size: 1.25rem;
  font-weight: 500;
  vertical-align: text-bottom;
}

.about-pos .block-group_bx .desc {
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
}

.about-pos .block-group_bx .desc span {
  font-weight: 500;
}

.about-pos .block-box {
  padding-top: 1.875rem;
}

.about-pos .block-box .ttl {
  color: #000;
  font-weight: 500;
  font-size: 1.325rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.about-pos ul {
  padding: 0;
  margin: 0 0 1.25rem;
  list-style-type: none;
}

.about-pos ul li {
  position: relative;
  padding-left: 1.0625rem;
  color: #000;
  font-weight: 400;
  font-size: 0.9375rem;
}

.about-pos ul li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.about-pos ul li::before {
  content: url(../img/icon/list-style_icon.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  line-height: 0;
}

.about-pos .name {
  color: #000;
  font-weight: 500;
  font-size: 1.0625rem;
  margin-bottom: 1.25rem;
}

.about-pos_list {
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px #0000002E;
          box-shadow: 0px 0px 40px 0px #0000002E;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  top: 5.75rem;
}

.about-pos_list ul {
  margin: 0;
}

.about-pos_list ul li {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.about-pos_list ul li:not(:last-child) {
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 0;
}

.about-pos_list ul li::before {
  content: none;
}

.about-pos_list ul li a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 0.9375rem;
  text-decoration: none;
  color: #000;
  padding-left: 1.0625rem;
}

.about-pos_list ul li a::before {
  content: url(../img/icon/list-style_icon.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  line-height: 0;
}

.about-fix {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.about-fix.active .about-fix_overflow {
  opacity: 1;
  visibility: visible;
}

.about-fix.active .about-fix_gr {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.about-fix_box {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #0000001A;
          box-shadow: 0px 0px 20px 0px #0000001A;
  padding-left: 1.875rem;
  padding-right: 3.125rem;
  padding-top: 1.5rem;
  padding-bottom: 1.325rem;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.about-fix_box::after {
  content: url(../img/icon/drop-select_icon.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 1.875rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  line-height: 0;
}

.about-fix_overflow {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.about-fix_gr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  border-radius: 2.5rem 2.5rem 0 0;
  -webkit-border-radius: 2.5rem 2.5rem 0 0;
  -moz-border-radius: 2.5rem 2.5rem 0 0;
  -ms-border-radius: 2.5rem 2.5rem 0 0;
  -o-border-radius: 2.5rem 2.5rem 0 0;
  padding-top: 3.75rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 1.875rem;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.about-fix_gr ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about-fix_gr ul li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about-fix_gr ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 1rem;
}

@media (min-width: 375px) {
  .about-pos .block-group_bx {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 480px) {
  .about-pos .block-slider .item {
    transform: perspective(50vw);
    -webkit-transform: perspective(50vw);
    -moz-transform: perspective(50vw);
    -ms-transform: perspective(50vw);
    -o-transform: perspective(50vw);
  }
}

@media (min-width: 576px) {
  .about-pos .block-slider .item {
    transform: perspective(70vw);
    -webkit-transform: perspective(70vw);
    -moz-transform: perspective(70vw);
    -ms-transform: perspective(70vw);
    -o-transform: perspective(70vw);
  }
  .about-pos .block-slider .item .img {
    transform: rotateX(0deg) rotateY(11deg) translateX(42px);
    -webkit-transform: rotateX(0deg) rotateY(11deg) translateX(42px);
    -moz-transform: rotateX(0deg) rotateY(11deg) translateX(42px);
    -ms-transform: rotateX(0deg) rotateY(11deg) translateX(42px);
    -o-transform: rotateX(0deg) rotateY(11deg) translateX(42px);
  }
}

@media (min-width: 768px) {
  .about-pos .block {
    padding-top: 3.125rem;
  }
  .about-pos .block-slider {
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
  }
  .about-pos .block-slider .item {
    transform: perspective(768px);
    -webkit-transform: perspective(768px);
    -moz-transform: perspective(768px);
    -ms-transform: perspective(768px);
    -o-transform: perspective(768px);
  }
  .about-pos .block-slider .item .img {
    border-radius: 3.75rem 2.5rem 2.5rem 3.75rem;
    -webkit-border-radius: 3.75rem 2.5rem 2.5rem 3.75rem;
    -moz-border-radius: 3.75rem 2.5rem 2.5rem 3.75rem;
    -ms-border-radius: 3.75rem 2.5rem 2.5rem 3.75rem;
    -o-border-radius: 3.75rem 2.5rem 2.5rem 3.75rem;
  }
  .about-pos .block-box {
    padding-top: 3.125rem;
  }
  .about-pos .block-box .ttl {
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .about-pos .block-group {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .about-pos .block-group_bx .desc span {
    display: block;
  }
}

@media (min-width: 860px) {
  .about-ban .group {
    position: relative;
    z-index: 2;
  }
  .about-ban .group-fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
  .about-ban .group-video {
    position: relative;
    right: 0;
    bottom: 0;
  }
  .about-ban .group-bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43%;
            flex: 0 0 43%;
    max-width: 43%;
  }
  .about-ban_block .box {
    padding-bottom: 2.5rem;
    padding-top: 1.875rem;
  }
  .about-ban_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
    padding-top: 4.375rem;
  }
  .about-ban_bottom .city, .about-ban_bottom .numb {
    line-height: 60px;
    margin-bottom: 0;
  }
  .about-ban_bottom .bx:not(:last-child) {
    margin-bottom: 0;
  }
  .about-pos .block-slider .item {
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -o-transform: perspective(1000px);
  }
}

@media (min-width: 992px) {
  .about-pos .block-slider .item {
    transform: perspective(1430px);
    -webkit-transform: perspective(1430px);
    -moz-transform: perspective(1430px);
    -ms-transform: perspective(1430px);
    -o-transform: perspective(1430px);
  }
}

@media (min-width: 1100px) {
  .about-ban_bottom {
    -webkit-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
  .about-pos .txt {
    font-size: 1rem;
  }
  .about-pos .txt p {
    margin: 0 0 1.875rem;
  }
  .about-pos .txt a {
    font-size: 1rem;
  }
  .about-pos blockquote {
    font-size: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-bottom: 2.5rem;
  }
  .about-pos .name {
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
  }
  .about-pos ul {
    margin: 0 0 1.875rem;
  }
  .about-pos ul li {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .about-ban .pattern {
    max-width: 400px;
  }
  .about-ban .bg::after {
    right: -30%;
  }
  .about-ban h1 {
    padding-left: 3rem;
  }
  .about-ban h1::before {
    content: url(../img/arr-ttl.png);
  }
  .about-ban_bottom {
    padding-top: 2.5rem;
  }
  .about-ban_bottom .city {
    font-size: 3.125rem;
  }
  .about-ban_bottom .desc {
    font-size: 1.125rem;
  }
  .about-ban_bottom .numb {
    font-size: 3.4375rem;
  }
  .about-ban_bottom .numb sub {
    font-size: 2.1875rem;
  }
  .about-ban_block {
    height: calc(100% - 4.625rem);
  }
  .about-ban_block .box {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-pos .bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .about-pos .bx:last-child {
    display: block;
  }
  .about-pos .block-slider .item {
    transform: perspective(700px);
    -webkit-transform: perspective(700px);
    -moz-transform: perspective(700px);
    -ms-transform: perspective(700px);
    -o-transform: perspective(700px);
  }
  .about-fix {
    display: none;
  }
}

@media (min-width: 1280px) {
  .about-pos .block-slider .item {
    transform: perspective(800px);
    -webkit-transform: perspective(800px);
    -moz-transform: perspective(800px);
    -ms-transform: perspective(800px);
    -o-transform: perspective(800px);
  }
}

@media (min-width: 1366px) {
  .about-ban {
    height: 100vh;
  }
  .about-ban .subttl {
    font-size: 2.1875rem;
  }
  .about-pos .bx {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .about-pos .bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
            flex: 0 0 67%;
    max-width: 67%;
  }
  .about-pos .block-group_bx {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .about-pos .block-slider .item {
    transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    -o-transform: perspective(1000px);
  }
  .about-pos_list {
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
  }
  .about-pos_list ul li {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .about-pos_list ul li a {
    font-size: 1.0625rem;
  }
}

@media (min-width: 1440px) {
  .about-ban {
    height: calc(100vh - 5.0625rem);
  }
  .about-ban_block .bx {
    padding-bottom: 5rem;
    padding-top: 7.6875rem;
  }
  .about-pos .block-group {
    -webkit-column-gap: 1.875rem;
            column-gap: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }
  .about-pos .block-group_bx {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    max-width: initial;
  }
  .about-pos .block-group_bx .gr {
    font-size: 2.625rem;
  }
  .about-pos .block-group_bx .gr sub {
    font-size: 2.1875rem;
  }
  .about-pos .bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 63%;
            flex: 0 0 63%;
    max-width: 63%;
  }
}

@media (min-width: 1600px) {
  .about-ban .pattern {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .about-ban .group-bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    max-width: 36%;
  }
  .about-pos .block-group {
    -webkit-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
  .about-pos .block-group_bx .desc {
    font-size: 1.125rem;
  }
}

@media (min-width: 1700px) {
  .about-pos .bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 59%;
            flex: 0 0 59%;
    max-width: 59%;
  }
}
/*# sourceMappingURL=about.css.map */