.position {
  position: relative;
  padding-bottom: 3.125rem;
}

.position .d-flex {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.position-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #00000040;
          box-shadow: 0px 0px 20px 0px #00000040;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.position-bottom .ttl {
  font-weight: 700;
  font-size: 1.0625rem;
  color: #029571;
}

.position-bottom .ttl span {
  text-transform: uppercase;
  color: #262626;
}

.position-bottom .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -webkit-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
  margin-top: 0.625rem;
}

.position-bottom .list-bx {
  padding-left: 0.625rem;
  border-left: 2px solid #02957133;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #029571;
}

.position-bottom .list-bx span {
  display: block;
  margin-bottom: 3px;
}

.position-bottom .list-bx span:last-child {
  margin-bottom: 0;
}

.position-bottom .link {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #039BE5;
  width: 2.9375rem;
  height: 2.9375rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.left {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.right {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  max-width: 32%;
  display: none;
}

.right-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 3.75rem;
  bottom: 3.75rem;
}

.right-box {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  padding-top: 193px;
  padding-bottom: 0.9375rem;
}

.right-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.right-box .image img {
  opacity: 0;
  visibility: hidden;
}

.right-box .box {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  width: calc(100% - 1.875rem);
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  padding: 1.75rem 0.9375rem;
  text-align: center;
}

.right-box .box .page-btn {
  min-width: 100%;
}

.right-box .box .ttl {
  font-weight: 700;
  font-size: 1.5rem;
  color: #029571;
  margin-bottom: 1.25rem;
}

.right-box .box .ttl span {
  display: block;
  text-transform: uppercase;
  color: #000;
}

.right-box .box .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0.9375rem;
}

.right-box .box .list-bx {
  padding-left: 0.625rem;
  border-left: 2px solid #02957133;
  font-weight: 500;
  font-size: 1.0625rem;
  color: #029571;
}

.right-box .box .list-bx span {
  display: block;
  margin-bottom: 6px;
}

.right-box .box .list-bx span:last-child {
  margin-bottom: 0;
}

.right-box .box .desc {
  margin-bottom: 1.25rem;
  color: #000;
  font-weight: 600;
  font-size: 1.125rem;
}

.right-box .box .desc span {
  display: block;
}

@media (min-width: 1100px) {
  .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
    max-width: 66%;
  }
  .right {
    display: block;
  }
  .position-bottom {
    display: none;
  }
}

@media (min-width: 1280px) {
  .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
    max-width: 28%;
  }
}

@media (min-width: 1366px) {
  .right-box .box {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1600px) {
  .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
            flex: 0 0 64%;
    max-width: 64%;
  }
  .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
/*# sourceMappingURL=position.css.map */