@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mw-100 {
  max-width: 100%;
}

.d-block {
  display: block;
}

a {
  outline: none;
  border: none;
}

a:focus {
  outline: none;
  border: none;
}

.page {
  min-height: 100%;
}

.page-wrap {
  clear: both;
  margin: 0 auto;
  max-width: 1780px;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.page-wrap::before, .page-wrap::after {
  content: "";
  display: table;
}

.page-wrap::after {
  clear: both;
}

.page :where(h1, h2, h3) {
  margin: 0;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.page h1 {
  font-size: clamp(1.5rem, 5vw, 3.125rem);
}

.page h2 {
  font-size: clamp(1.5rem, 5vw, 3.125rem);
}

.page h3 {
  font-size: clamp(1.5rem, 4vw, 2.8125rem);
}

.page-rubl {
  position: relative;
  display: inline-block;
  font-family: 'PT Rouble Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.page-rubl::before {
  content: "у";
}

.page-btn {
  min-width: 241px;
  padding: 1.5rem 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-align: center;
  display: inline-block;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 11px;
  border: none;
  outline: none;
}

.page-btn_curr {
  color: #fff;
  background-color: #B00000;
}

.page-btn_wh {
  background-color: #fff;
  color: #000;
}

.page-ruller ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.page-ruller ul li.active a {
  color: #B00000;
}

.page-ruller ul li.point {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-ruller ul li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.125rem;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

@font-face {
  font-family: 'PT Rouble Sans';
  src: url("../font/PTRoubleSans.eot");
  src: url("../font/PTRoubleSans.eot?#iefix") format("embedded-opentype"), url("../font/PTRoubleSans.woff2") format("woff2"), url("../font/PTRoubleSans.woff") format("woff"), url("../font/PTRoubleSans.ttf") format("truetype"), url("../font/PTRoubleSans.svg#PTRoubleSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu-Bold.eot");
  src: url("../font/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Ubuntu-Bold.woff2") format("woff2"), url("../font/Ubuntu-Bold.woff") format("woff"), url("../font/Ubuntu-Bold.ttf") format("truetype"), url("../font/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu-Medium.eot");
  src: url("../font/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu-Medium.woff") format("woff"), url("../font/Ubuntu-Medium.ttf") format("truetype"), url("../font/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu-Light.eot");
  src: url("../font/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../font/Ubuntu-Light.woff2") format("woff2"), url("../font/Ubuntu-Light.woff") format("woff"), url("../font/Ubuntu-Light.ttf") format("truetype"), url("../font/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu-Regular.eot");
  src: url("../font/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Ubuntu-Regular.woff2") format("woff2"), url("../font/Ubuntu-Regular.woff") format("woff"), url("../font/Ubuntu-Regular.ttf") format("truetype"), url("../font/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("Inter-Regular.eot?#iefix") format("embedded-opentype"), url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff"), url("Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("Inter-LightBETA.eot");
  src: local("Inter Light BETA"), local("Inter-LightBETA"), url("Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("Inter-LightBETA.woff2") format("woff2"), url("Inter-LightBETA.woff") format("woff"), url("Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("Inter-SemiBold.eot");
  src: local("Inter Semi Bold"), local("Inter-SemiBold"), url("Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("Inter-SemiBold.woff2") format("woff2"), url("Inter-SemiBold.woff") format("woff"), url("Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"), url("Inter-Bold.eot?#iefix") format("embedded-opentype"), url("Inter-Bold.woff2") format("woff2"), url("Inter-Bold.woff") format("woff"), url("Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("Inter-Medium.eot?#iefix") format("embedded-opentype"), url("Inter-Medium.woff2") format("woff2"), url("Inter-Medium.woff") format("woff"), url("Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.25;
  color: #000;
  font-size: 16px;
}

.create a {
  outline: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
}

.create a span {
  text-transform: uppercase;
  font-weight: 500;
}

.create a:focus {
  outline: none;
  border: none;
}

.create a:hover {
  opacity: 0.8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header-top {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #0000001A;
          box-shadow: 0px 0px 20px 0px #0000001A;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.header nav {
  display: none;
}

.header nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header nav > ul > li:hover > a {
  color: #B00000;
}

.header nav > ul > li:hover > div {
  opacity: 1;
  visibility: visible;
}

.header nav > ul > li > a {
  text-decoration: none;
  display: inline-block;
  padding-top: 1.625rem;
  padding-bottom: 1.5625rem;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.header .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.0625rem;
          column-gap: 1.0625rem;
}

.header .dip-link, .header .tat-link {
  text-decoration: none;
  display: none;
  margin-right: 0.8125rem;
}

.header .search-link, .header .favorite-link {
  display: none;
}

.header .page-btn {
  min-width: 172px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 11px;
  padding: 17px 15px 18px;
  display: none;
}

.header-search {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #0000001A;
          box-shadow: 0px 0px 20px 0px #0000001A;
  z-index: -1;
  padding: 10px 0;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  opacity: 0;
  visibility: hidden;
  translate: 0 -100%;
}

.header-search.open {
  opacity: 1;
  translate: 0 0;
  visibility: visible;
}

.header-subnav {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 20px 0px #0000001A;
          box-shadow: 0px 0px 20px 0px #0000001A;
  padding-top: 2.5rem;
  padding-bottom: 3.125rem;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  opacity: 0;
  visibility: hidden;
}

.header-subnav_gr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.header-subnav_gr .bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.header-subnav_gr .name {
  color: #B00000;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 0.75rem;
}

.header-subnav_gr ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 292px;
}

.header-subnav_gr ul li {
  position: relative;
  padding-left: 1.125rem;
}

.header-subnav_gr ul li::before {
  content: url(../img/icon/list-style_icon.svg);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-subnav_gr ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.header-subnav_gr ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  display: block;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.header-subnav_gr ul li a:hover {
  color: #B00000;
}

.header-burder {
  display: inline-block;
  text-decoration: none;
}

.header .lang {
  display: none;
}

.header .logo {
  max-width: 180px;
}

.lang {
  position: relative;
  z-index: 1;
}

.lang-link {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  text-decoration: none;
  width: 2.875rem;
  height: 2.875rem;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 500;
  color: #000;
  font-size: 0.9375rem;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  z-index: 2;
  position: relative;
  background-color: #fff;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.lang-link:hover {
  color: #B00000;
}

.lang-link:focus {
  border: 1px solid #E2E2E2;
}

.lang-list {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  width: 100%;
  z-index: -1;
  top: 100%;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  opacity: 0;
  visibility: hidden;
}

.lang-list.active {
  opacity: 1;
  visibility: visible;
}

.lang-list li a {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  text-decoration: none;
  width: 2.875rem;
  height: 2.875rem;
  font-weight: 500;
  color: #000;
  font-size: 0.9375rem;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.lang-list li a:hover {
  color: #B00000;
}

.logo {
  text-decoration: none;
  display: inline-block;
}

.search-link, .favorite-link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search-link:focus, .favorite-link:focus {
  border: 1px solid #E2E2E2;
}

.search-link svg, .favorite-link svg {
  fill: #000;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.search-link:hover svg, .favorite-link:hover svg {
  fill: #B00000;
}

.m-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.m-menu.active {
  opacity: 1;
  visibility: visible;
}

.m-menu.active .m-menu-wrap {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.m-menu-overflow {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.m-menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.m-menu-wrap .subnav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 1;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.m-menu-wrap .subnav-top {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-menu-wrap .subnav-top .ttl {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size: 1.1875rem;
}

.m-menu-wrap .subnav-top .back {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #E2E2E2;
}

.m-menu-wrap .subnav-top .back svg {
  fill: #B00000;
}

.m-menu-wrap .subnav-item {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-bottom: 1px solid #DEDEDE;
}

.m-menu-wrap .subnav-item.active .name {
  color: #B00000;
}

.m-menu-wrap .subnav-item.active .name::after {
  transform: translateY(-50%) rotateX(180deg);
  -webkit-transform: translateY(-50%) rotateX(180deg);
  -moz-transform: translateY(-50%) rotateX(180deg);
  -ms-transform: translateY(-50%) rotateX(180deg);
  -o-transform: translateY(-50%) rotateX(180deg);
}

.m-menu-wrap .subnav-item.active .subnav-item_body {
  display: block;
}

.m-menu-wrap .subnav-item:first-child {
  border-top: 1px solid #DEDEDE;
}

.m-menu-wrap .subnav-item .name {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  color: #000;
  font-weight: 500;
  font-size: 1.0625rem;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  position: relative;
  padding-right: 1.875rem;
}

.m-menu-wrap .subnav-item .name::after {
  content: url(../img/icon/drop-select_icon.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  line-height: 0;
}

.m-menu-wrap .subnav-item_body {
  display: none;
  padding-bottom: 1.5rem;
}

.m-menu-wrap .subnav-item_body ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.m-menu-wrap .subnav-item_body ul li {
  position: relative;
  padding-left: 1.0625rem;
}

.m-menu-wrap .subnav-item_body ul li::before {
  content: url(../img/icon/list-style_icon.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  line-height: 0;
}

.m-menu-wrap .subnav-item_body ul li:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.m-menu-wrap .subnav-item_body ul li a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}

.m-menu-fl {
  height: 100%;
}

.m-menu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.m-menu-head .logo {
  max-width: 130px;
}

.m-menu-head .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.m-menu-head .lang-link {
  width: 2.5rem;
  height: 2.5rem;
}

.m-menu-close {
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
}

.m-menu-close::before, .m-menu-close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.m-menu-close::before {
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.m-menu-close::after {
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.m-menu-mid {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-bottom: 1.875rem;
}

.m-menu-mid > nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.m-menu-mid > nav > ul > li:not(:last-child) {
  margin-bottom: 1.875rem;
}

.m-menu-mid > nav > ul > li.active > div {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.m-menu-mid > nav > ul > li > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.0625rem;
  text-transform: uppercase;
}

.m-menu-mid .form-search {
  margin-bottom: 1.875rem;
}

.m-menu-mid .form-search_gr input {
  background: rgba(235, 235, 235, 0.6);
  color: #404040;
  font-size: 0.9375rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 2.75rem;
}

.m-menu-mid .form-search_gr input::-webkit-input-placeholder {
  color: #404040;
  font-size: 0.9375rem;
}

.m-menu-mid .form-search_gr input:-ms-input-placeholder {
  color: #404040;
  font-size: 0.9375rem;
}

.m-menu-mid .form-search_gr input::-ms-input-placeholder {
  color: #404040;
  font-size: 0.9375rem;
}

.m-menu-mid .form-search_gr input::placeholder {
  color: #404040;
  font-size: 0.9375rem;
}

.m-menu-mid .form-search_gr .icon {
  left: 0.875rem;
}

.m-menu-bottom {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-bottom: 1.875rem;
}

.m-menu-bottom .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1.5rem;
  -webkit-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-menu-bottom .page-btn {
  min-width: 100%;
}

.footer-top {
  padding-top: 1.25rem;
}

.footer-top .ttl {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer-top .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top .social a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 2.875rem;
  height: 2.875rem;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 0;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.footer-top .social a svg {
  fill: #fff;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.footer-top .social a:hover {
  background-color: #fff;
}

.footer-top .social a:hover svg {
  fill: #013220;
}

.footer-top .d-flex {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.footer-top .bx {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.footer-top .bx:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.footer-top .page-btn {
  min-width: 100%;
}

.footer-bottom {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  border-top: 1px solid #013E28;
}

.footer-bottom .d-flex {
  row-gap: 0.75rem;
}

.footer-bottom .bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.footer-bottom .coopyright {
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.3;
  margin-bottom: 0.75rem;
}

.footer-bottom .politic {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 400;
  font-size: 0.8125rem;
}

.footer-nav {
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #013E28;
}

.footer-nav .name {
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.875rem;
}

.footer-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-column-count: 2;
          column-count: 2;
}

.footer-nav ul li:not(:last-child) {
  margin-bottom: 0.875rem;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.3;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
          column-gap: 0.625rem;
  padding-top: 1.875rem;
}

.footer-list_bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-list ul li:not(:last-child) {
  margin-bottom: 0.875rem;
}

.footer-list ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
}

.footer-list .dip, .footer-list .tat {
  text-decoration: none;
  margin-top: 1.875rem;
}

.main {
  padding-top: 5.0625rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  opacity: 0;
  visibility: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal.active .modal-wrap {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.modal-overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  overflow-x: hidden;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.modal-block {
  width: 100%;
}

.modal-block .d-flex {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  row-gap: 1.875rem;
}

.modal-block .bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.modal-block .bx:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.modal-block .bx-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.modal-block .bx-item {
  margin-top: 1.875rem;
}

.modal-block .bx-item:first-child {
  margin-top: 0;
}

.modal-block .bx-item:last-child {
  display: none;
}

.modal-block .form-contact_btn {
  display: block;
  -webkit-column-count: 0;
          column-count: 0;
}

.modal-block .form-contact_btn .page-btn {
  min-width: 100%;
}

.modal-block .form-contact_btn .form-politic {
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal-block .ttl {
  font-weight: 500;
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 0.875rem;
}

.modal-block .desc {
  font-weight: 400;
  color: #000;
  font-size: 0.9375rem;
}

.modal-block .phone {
  margin-bottom: 0.625rem;
}

.modal-block .phone a {
  color: #013220;
  font-weight: 500;
  font-size: 1.5rem;
}

.modal-block .email {
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: #B00000;
}

.modal-block .logo {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.625rem;
}

.modal-close {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  top: 1.875rem;
  right: 0.9375rem;
}

.modal-close::before, .modal-close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.modal-close::before {
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.modal-close::after {
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  opacity: 0;
  visibility: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup.active .popup-wrap {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.popup-overflow {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 100%;
  background-color: #fff;
  max-width: 859px;
  padding-top: 3rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  overflow-x: hidden;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.popup-wrap_fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.popup-wrap_bx {
  padding-bottom: 1.875rem;
}

.popup-wrap_bx:last-child {
  padding-bottom: 3.75rem;
}

.popup-wrap .ttl {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 600px;
}

.popup-wrap .form-popup {
  margin-top: 1.875rem;
}

.popup-top {
  padding-bottom: 0.9375rem;
}

.popup-close {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  right: 1.875rem;
  width: 0.9375rem;
  height: 0.9375rem;
}

.popup-close::before, .popup-close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.popup-close::before {
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.popup-close::after {
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.popup-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
  border-top: 1px solid #EBEBEB;
  position: relative;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  row-gap: 1.25rem;
}

.popup-item:last-child {
  border-bottom: 1px solid #EBEBEB;
}

.popup-item .name {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.popup-item .img {
  max-width: 110px;
  position: relative;
  height: 52px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.popup-item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-item .del {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  top: 0.625rem;
  right: 0;
}

.select {
  position: relative;
  z-index: 2;
}

.select.active .select-ul::after {
  transform: translateY(-50%) rotateX(180deg);
  -webkit-transform: translateY(-50%) rotateX(180deg);
  -moz-transform: translateY(-50%) rotateX(180deg);
  -ms-transform: translateY(-50%) rotateX(180deg);
  -o-transform: translateY(-50%) rotateX(180deg);
}

.select.active .select-ul li {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.select.active .select-box {
  opacity: 1;
  visibility: visible;
}

.select ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.select-ul {
  position: relative;
  height: 3.75rem;
}

.select-ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1.875rem 0.75rem 1.0625rem;
  background-color: #F7F7F7;
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
  min-width: 289px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  line-height: 1;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  cursor: pointer;
}

.select-ul::after {
  content: url(../img/icon/drop-select_icon.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  line-height: 0;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.select-box {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  max-height: 310px;
  overflow-x: hidden;
}

.select-box li {
  padding: 0.8125rem 1.0625rem;
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
  cursor: pointer;
}

.follow {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1.875rem 0.75rem 1.0625rem;
  background-color: #F7F7F7;
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
  min-width: 289px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  line-height: 1;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.follow::after {
  content: url(../img/icon/drop-select_icon.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 1.0625rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translateY(-50%) rotate(-90deg);
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  line-height: 0;
}

.follow:hover {
  opacity: 0.8;
}

.arrow {
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  line-height: 0;
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #00000026;
          box-shadow: 0px 0px 20px 0px #00000026;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.arrow-prev svg {
  fill: #013220;
}

.arrow-next svg {
  fill: #B00000;
}

.link {
  display: inline-block;
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  padding-left: 1.0625rem;
}

.link::before {
  content: url(../img/icon/arr-link.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.progress-wrap {
  position: fixed;
  z-index: 1;
  right: 0.9375rem;
  bottom: 15%;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.progress-wrap.active {
  opacity: 1;
  visibility: visible;
}

.progress-wrap a {
  outline: none;
  border: none;
  text-decoration: none;
  width: 3.25em;
  height: 3.25em;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 0px #00000026;
          box-shadow: 0px 0px 20px 0px #00000026;
}

.progress-wrap a svg path {
  fill: none;
}

.progress-wrap a svg.progress-circle path {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  stroke-width: 4;
  stroke: #013220;
  transition: all 0.4s linear 0s;
  -webkit-transition: all 0.4s linear 0s;
  -moz-transition: all 0.4s linear 0s;
  -ms-transition: all 0.4s linear 0s;
  -o-transition: all 0.4s linear 0s;
}

.progress-wrap a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
}

.media-play {
  position: relative;
  text-decoration: none;
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}

.media-play .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-play .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.ruller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ruller .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.ruller .page-btn {
  min-width: 100%;
}

.form-gr {
  overflow: hidden;
  position: relative;
}

.form-gr input, .form-gr textarea {
  width: 100%;
  outline: none;
  line-height: 1.3;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  height: 3.75rem;
  border: none;
  border-bottom: 1px solid #B3B3B3;
}

.form-gr input:focus ~ label, .form-gr textarea:focus ~ label {
  opacity: 0;
  visibility: hidden;
}

.form-gr input.used ~ label, .form-gr textarea.used ~ label {
  opacity: 0;
  visibility: hidden;
}

.form-gr textarea {
  resize: none;
}

.form-gr label {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-gr label sup {
  color: #B00000;
}

.form-search_gr {
  position: relative;
}

.form-search_gr .icon {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  line-height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-search_gr .icon svg {
  fill: #B00000;
}

.form-search_gr input {
  width: 100%;
  outline: none;
  line-height: 1.3;
  padding: 20px 10px 20px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  border: none;
}

.form-search_gr input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

.form-search_gr input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

.form-search_gr input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

.form-search_gr input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

.form-politic {
  color: #525252;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.form-politic a {
  display: inline-block;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #525252;
  font-weight: 300;
  font-size: 0.8125rem;
}

.form-contact_gr:not(:last-child) {
  margin-bottom: 0.875rem;
}

.form-contact_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
          column-gap: 1.875rem;
  padding-top: 1.875rem;
}

.form-contact_btn .form-politic {
  max-width: 290px;
}

.form-popup_gr {
  margin-bottom: 1.5rem;
}

.form-popup_gr .form-gr input {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #F7F7F7;
  height: 3.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-popup_gr .form-gr label {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-popup_gr .form-gr label sup {
  color: #000;
}

.form-popup_btn .form-politic {
  max-width: 291px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1.25rem;
}

.form-popup_btn .page-btn {
  min-width: 100%;
}

.phone a {
  outline: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  color: #000;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  white-space: nowrap;
}

.phone a:focus {
  outline: none;
  border: none;
}

.cart-solution {
  position: relative;
  -webkit-perspective: 1800px;
          perspective: 1800px;
}

.cart-solution:hover .numb {
  color: #013220;
}

.cart-solution:hover .cart-solution_box::after {
  background-color: #013220;
}

.cart-solution a {
  text-decoration: none;
  position: relative;
  display: block;
  z-index: 1;
}

.cart-solution_info {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 1.5rem;
  padding-left: 1.25rem;
}

.cart-solution_info .numb {
  color: #B00000;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.cart-solution_info .desc {
  font-weight: 500;
  font-size: 0.8125rem;
  color: #000;
  text-transform: uppercase;
}

.cart-solution_block {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}

.cart-solution_box {
  position: relative;
  overflow: hidden;
  border-radius: 3.75rem 2.5rem 3.75rem 2.5rem;
  -webkit-border-radius: 3.75rem 2.5rem 3.75rem 2.5rem;
  -moz-border-radius: 3.75rem 2.5rem 3.75rem 2.5rem;
  -ms-border-radius: 3.75rem 2.5rem 3.75rem 2.5rem;
  -o-border-radius: 3.75rem 2.5rem 3.75rem 2.5rem;
  height: 240px;
  transform: rotateX(2deg) rotateY(11deg) translateX(10px);
  -webkit-transform: rotateX(2deg) rotateY(11deg) translateX(10px);
  -moz-transform: rotateX(2deg) rotateY(11deg) translateX(10px);
  -ms-transform: rotateX(2deg) rotateY(11deg) translateX(10px);
  -o-transform: rotateX(2deg) rotateY(11deg) translateX(10px);
  z-index: 1;
}

.cart-solution_box .bg {
  height: 100%;
}

.cart-solution_box .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}

.cart-solution_box .img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 240px;
}

.cart-solution_box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #B00000;
  z-index: -1;
  -webkit-clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}

.cart-poster a {
  text-decoration: none;
  display: block;
}

.cart-poster .image {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  height: 171px;
  margin-bottom: 1.25rem;
}

.cart-poster .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-poster .name {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.875rem;
}

.cart-poster .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 7px;
          column-gap: 7px;
}

.cart-poster .date, .cart-poster .city {
  font-size: 0.875rem;
}

.cart-poster .date {
  color: #013220;
  font-weight: 500;
}

.cart-poster .city {
  position: relative;
  color: #ACADBC;
  font-weight: 400;
  padding-left: 0.75rem;
}

.cart-poster .city::before {
  content: url(../img/icon/city-drop_icon.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  line-height: 0;
}

.cart-main {
  position: relative;
  height: 100%;
}

.cart-main a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.cart-main .image {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  height: 100%;
}

.cart-main .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-main .image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.cart-main_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  padding-bottom: 2.5rem;
}

.cart-main_box .name {
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  max-width: 650px;
}

.cart-main_box .date {
  color: #fff;
  font-weight: 500;
  font-size: 0.9375rem;
}

.cart-area a {
  text-decoration: none;
  display: inline-block;
}

.cart-area .image {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  height: 276px;
  margin-bottom: 1.25rem;
}

.cart-area .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-area .name {
  color: #000;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.cart-area .subname {
  color: #B00000;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 0.625rem;
  text-transform: uppercase;
}

.cart-area .info {
  color: #000;
  font-weight: 400;
  font-size: 0.9375rem;
  margin-top: 0.875rem;
}

.cart-area .page-btn {
  font-weight: 600;
  font-size: 0.75rem;
  font-family: 'Inter', sans-serif;
  min-width: 100%;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.cart-area_box {
  padding-top: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.9375rem;
}

.cart-area_box .square, .cart-area_box .ammount {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 1.75rem;
}

.cart-area_box .square::before, .cart-area_box .ammount::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  line-height: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.cart-area_box .square {
  color: #B00000;
}

.cart-area_box .square::before {
  content: url(../img/icon/full-screen_icon.svg);
}

.cart-area_box .ammount {
  color: #013220;
}

.cart-area_box .ammount::before {
  content: url(../img/icon/users_icon.svg);
}

.breadcrumbs {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 2.25rem;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
}

.breadcrumbs ul li {
  padding-left: 2rem;
  position: relative;
}

.breadcrumbs ul li:first-child {
  padding-left: 0;
}

.breadcrumbs ul li:first-child::before {
  content: none;
}

.breadcrumbs ul li::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 4px solid #B00000;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.breadcrumbs ul li:last-child a {
  color: #B00000;
}

.breadcrumbs ul li a {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */