.tarif {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#02966F), color-stop(59.4%, #039571));
  background: linear-gradient(180deg, #02966F 0%, #039571 59.4%);
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}

.tarif-box {
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-shadow: 0px 0px 40px 0px #0C8769;
          box-shadow: 0px 0px 40px 0px #0C8769;
  overflow: hidden;
}

.tarif-box .bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 2.5rem 0.9375rem;
}

.tarif-box .bx:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-top: 2.5rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.tarif-box .bx:last-child {
  padding-top: 0;
}

.tarif-box .ttl {
  color: #000;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.tarif-box .list {
  padding: 0;
  margin: 3.75rem -1.25rem 0 -1.25rem;
  list-style-type: none;
  display: none;
}

.tarif-box .list li {
  position: relative;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tarif-box .list li.active {
  background: #0395711A;
}

.tarif-box .list li.active a .arr {
  opacity: 1;
  visibility: visible;
}

.tarif-box .list li a {
  text-decoration: none;
  display: block;
  color: #000;
  text-transform: uppercase;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 3.4375rem;
  padding-right: 2.5rem;
}

.tarif-box .list li a .icon {
  min-width: 2.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.tarif-box .list li a .icon img {
  margin: 0 auto;
}

.tarif-box .list li a .arr {
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.tarif-box_body {
  height: 100%;
}

.tarif-box_item {
  height: 100%;
  display: none;
}

.tarif-box_item.active {
  display: block;
}

.tarif-box_item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarif-box_item .top .desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%;
}

.tarif-box_item .name {
  color: #000;
  font-weight: 500;
  font-size: 1.325rem;
  text-transform: uppercase;
  margin-bottom: 3px;
  line-height: 1;
}

.tarif-box_item .subname {
  font-weight: 400;
  font-size: 0.9375rem;
  color: #6C6C6C;
}

.tarif-box_item .mid {
  padding-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.tarif-box_item .mid-bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.tarif-box_item .mid b {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}

.tarif-box_item .mid-check .check:not(:last-child) {
  margin-bottom: 1.25rem;
}

.tarif-box_item .mid-check_gr {
  color: #039571;
  font-weight: 500;
  font-size: 1.0625rem;
  text-transform: uppercase;
}

.tarif-box_item .mid-check_gr:not(:last-child) {
  margin-bottom: 1.25rem;
}

.tarif-box_item .bottom {
  text-align: center;
}

.tarif-box_item .bottom-bx {
  margin-bottom: 1.25rem;
}

.tarif-box_item .bottom-bx:last-child {
  margin-bottom: 0;
}

.tarif-box_item .bottom-bx b {
  color: #000;
  font-weight: 500;
  font-size: 1.125rem;
  display: block;
}

.tarif-box_item .bottom .price {
  color: #039571;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 1;
}

.tarif-box_item .bottom .pay {
  color: #039571;
  display: inline-block;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 400;
  font-size: 1rem;
}

.tarif-box_item .bottom .box {
  font-size: 1rem;
  font-weight: 500;
  color: #039BE5;
  margin-top: 0.75rem;
}

.tarif-box_item .bottom .box i {
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.tarif-box_item .page-btn {
  min-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tarif-box_wrap {
  position: relative;
  margin-top: 1.875rem;
}

.tarif-box_wrap .select_wrap {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tarif-box_wrap .select_wrap ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tarif-box_wrap .select_wrap .default_option {
  background: #0395711A;
  position: relative;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 4.375rem;
}

.tarif-box_wrap .select_wrap .default_option::before {
  content: url(../img/dropdown-icon.svg);
  display: block;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%) rotate(0);
  -webkit-transform: translateY(-50%) rotate(0);
  -moz-transform: translateY(-50%) rotate(0);
  -ms-transform: translateY(-50%) rotate(0);
  -o-transform: translateY(-50%) rotate(0);
}

.tarif-box_wrap .select_wrap .default_option li {
  height: 100%;
  padding: 1.125rem 3.125rem 1.125rem 1.5rem;
  color: #039571;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tarif-box_wrap .select_wrap .default_option li .icon {
  width: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625rem;
}

.tarif-box_wrap .select_wrap .default_option li .icon img {
  margin: 0 auto;
}

.tarif-box_wrap .select_wrap .select_ul {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #039571;
  display: none;
  z-index: 1;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.tarif-box_wrap .select_wrap .select_ul li {
  padding: 0.9375rem 1.25rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.tarif-box_wrap .select_wrap .select_ul li .icon {
  width: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625rem;
}

.tarif-box_wrap .select_wrap .select_ul li .icon img {
  margin: 0 auto;
}

.tarif-box_wrap .select_wrap.active .select_ul {
  display: block;
}

.tarif-box_wrap .select_wrap.active .default_option::before {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
}

.tarif-flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tarif-flex .item {
  margin-bottom: 2.5rem;
}

.tarif-flex .item:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .tarif-box_item .page-btn {
    min-width: 290px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

@media (min-width: 768px) {
  .tarif-box .ttl {
    text-align: left;
    font-size: 2.5rem;
  }
  .tarif-box_item .name {
    font-size: 2.125rem;
  }
  .tarif-box_item .subname {
    font-size: 1.0625rem;
  }
  .tarif-box_item .top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .tarif-box_item .top .desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .tarif-box_item .mid {
    padding-top: 3.75rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tarif-box_item .mid-bx {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .tarif-box_item .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .tarif-box_item .bottom-bx {
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {
  .tarif-box .bx {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64%;
            flex: 0 0 64%;
    max-width: 64%;
    padding: 2.5rem 1.25rem;
  }
  .tarif-box .bx:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    max-width: 36%;
    padding-top: 3.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-right: 1px solid #CACACA;
  }
  .tarif-box .bx:last-child {
    padding-top: 2.5rem;
  }
  .tarif-box .list {
    display: block;
  }
  .tarif-box_wrap {
    display: none;
  }
}

@media (min-width: 1280px) {
  .tarif-box .bx {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .tarif-box .bx:first-child {
    padding-left: 3.125rem;
    padding-right: 2.5rem;
  }
  .tarif-box .list {
    margin-left: -3.125rem;
    margin-right: -2.5rem;
  }
  .tarif-box .list li {
    padding-left: 3.125rem;
    padding-right: 2.5rem;
  }
  .tarif-box .list li a {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=tarif.css.map */